@inherits LayoutComponentBase

<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-xl">
            <a class="navbar-brand" href="#">
                <img src="https://codingyaar.com/wp-content/uploads/coding-yaar-logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Another Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Another Link</a>
                    </li>
                </ul>
                <div class="search-and-icons">
                    <form class="d-flex mb-2 me-2" role="search">
                        <input class="form-control me-2" type="search" aria-label="Search">
                    </form>
                    <div id="botons-list" class="user-icons d-flex mb-2">
                        <div id="button_menu" class="profile" data-info=""><i class="bi bi-person"></i>
                        </div>

                        <div class="cart-container">
                            <i class="bi bi-cart3" id="cart-icon"></i>
                            <div class="shopping-cart" id="shopping-cart">
                                <div class="shopping-cart-header">
                                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">16</span>
                                    <div class="shopping-cart-total">
                                        <span class="lighter-text">Total:</span>
                                        <span class="main-color-text total">$461.15</span>
                                    </div>
                                </div> <!--end shopping-cart-header -->

                                <ul class="shopping-cart-items">
                                    <li class="clearfix">
                                        <img src="https://www.qispackaging.com.au/getmetafile/fefe4afb-dd4d-495e-ad59-209f29b47052/XMREDTREE.aspx" alt="item1" />
                                        <span class="item-name">XMREDTREE</span>
                                        <span class="item-detail">Pack 100</span>
                                        <span class="item-price">$49.50</span>
                                        <span class="item-quantity">Quantity: 01</span>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://www.qispackaging.com.au/getmetafile/306f6d39-792f-4c8c-b101-9c6aef675758/XMWHREIN.aspx" alt="item1" />
                                        <span class="item-name">XMWHREIN</span>
                                        <span class="item-detail">Pack 100</span>
                                        <span class="item-price">$34.06</span>
                                        <span class="item-quantity">Quantity: 10</span>
                                    </li>

                                    <li class="clearfix">
                                        <img src="https://www.qispackaging.com.au/getmetafile/b2f41988-a7b4-432c-b9c2-25bcb9afbcc3/XMJBRR.aspx" alt="item1" />
                                        <span class="item-name">XMJBRR</span>
                                        <span class="item-detail">Pack 25</span>
                                        <span class="item-price">$14.21</span>
                                        <span class="item-quantity">Quantity: 5</span>
                                    </li>
                                </ul>

                                <a href="#" class="button">Checkout <i class="fa fa-chevron-right"></i></a>
                            </div> <!--end shopping-cart -->
                        </div>
                    </div>
                </div>
                <div class="contact-info d-md-flex">
                    <p>+0987654321 | +1234567890 </p>
                    <p><a href="mailto:">contact@domainname.com</a></p>
                </div>
            </div>
        </div>
    </nav>

    @Body
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const cartIcon = document.getElementById("cart-icon");
        const shoppingCart = document.getElementById("shopping-cart");

        cartIcon.addEventListener("click", () => {
            const isVisible = shoppingCart.style.display === "block";
            shoppingCart.style.display = isVisible ? "none" : "block";
        });

        window.addEventListener("click", (e) => {
            if (!document.querySelector(".cart-container").contains(e.target)) {
                shoppingCart.style.display = "none";
            }
        });
        /* Session Storage */
        window.sessionStorageHelper = {
            
        };
    });
    
</script>

