@inject IJSRuntime js;
@using System.Net
@using Core.ViewModel.User
@page "/userinfo"
@using Newtonsoft.Json
@using UI.Client.Layout

@layout HomeLayout

@rendermode InteractiveServer

<h1>User Info</h1>